@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000;
  font-family: "Nunito";
}

body{
  font-family: "Nunito" !important;
}

@layer utilities {
  .theme_box_bg {
    @apply bg-[#0C4DA2]/20 rounded-xl shadow-2xl;
  }
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .circle {
    @apply w-[5px] h-[5px] mx-1 bg-theme_text_normal rounded-full;
  }
}

.page-center {
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c:no-repeat linear-gradient(#91C3E7 0 0);
  background: var(--c), var(--c), var(--c);
  animation: 
    l16-1 1s infinite,
    l16-2 1s infinite;
}
@keyframes l16-1 {
 0%,100% {background-size:20% 100%}
 33%,66% {background-size:20% 40%}
}
@keyframes l16-2 {
 0%,33%   {background-position: 0 0   ,50% 100%,100% 0}
 66%,100% {background-position: 0 100%,50% 0   ,100% 100%}
}


/* Carousel */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: rgba(255, 255, 255, 0.5);
}

.slideshowDot.active {
  background-color: rgba(255, 255, 255, 1.0);
  width: 10px;
  height: 5px;
  border-radius: 25%;
}

.translucent-date-range .rdrCalendarWrapper {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow */
  backdrop-filter: blur(8px); /* Blur effect to enhance the translucent look */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  position: relative;
  z-index: 1;
}

.translucent-date-range .rdrDateRangeWrapper,
.translucent-date-range .rdrMonths {
  background: rgba(12, 77, 162, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.translucent-date-range .rdrMonth {
  background: none;
}

.translucent-date-range .rdrMonthAndYearPickers {
  background: rgba(12, 77, 162, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.translucent-date-range .rdrMonthAndYearPickers select {
  color: #91C3E7 !important;
}

.translucent-date-range .rdrDay {
  backdrop-filter: blur(5px); /* Additional blur effect on days */
  -webkit-backdrop-filter: blur(5px);
}

.rdrDay {
  color: #fff !important;
}

.rdrDay:has(.rdrInRange), .rdrDay:has(.rdrStartEdge), .rdrDay:has(.rdrEndEdge) {
  color: #003d68 !important;
}

.rdrDayPassive {
  color: #ffffff9a !important;
}

.rdrDateDisplayWrapper {
  background: rgba(12, 77, 162, 0.2) !important; 
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}

.rdrDateDisplayWrapper * {
  background: rgba(12, 77, 162, 0.2) !important; 
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  color: #91C3E7 !important;
}

.rdrNextPrevButton {
  background: rgba(12, 77, 162, 0.2) !important; 
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}

.translucent-date-range {
  padding: 10px;
  border-radius: 8px;
}

.rdrDayWeekend {
  color: #91C3E7 !important;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
  font-family: "Nunito" !important;
  background-color: #000;
  color: #fff;
}

.timetable th, .timetable td {
  text-align: center;
  font-size: 12px;
  font-family: "Nunito" !important;
  margin: auto !important;
  border-bottom: 1px solid #181818;
  border-left: 1px solid #181818;
}

.timetable th {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.timetable td {
  max-width: 200px;
  padding: 12px;
}
